body{
	margin: 0 auto;
}

.wrapped{
	width: 80%;
	margin: auto;
}
.header{
	display: flex;
	justify-content: space-between;
	margin-bottom: 130px;
}

.logo{
	position: relative;
	padding: 40px 0;
	padding-left: 44px;
	font: bold 24px/32px pt_serifregular, arial, helvetica, sans-serif;
}

.menu{
	display: flex;
	align-items: center;
}

.menu__item{
	position: relative;
	margin-right: 26px;
	color: #000;
	text-decoration: none;
	font: 500 18px/21px robotoregular, arial, helvetica, sans-serif;
	transition: opacity .5s;

}

.menu__item:last-child {
	margin-right: 0;

}

.logo__circle{
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 28px;
	height: 28px;
	background: #0056EC;
	border-radius: 50%;
	opacity: .7;
}
.logo__circle_color_blue {
	left: 8px;
	top: 56%;
	background: #C8DBFB;
}

.menu__item:hover {
	opacity: .5;
}

.menu__item_active:hover:after{
	position: absolute;
	display: block;
	content: '';
	left: 0;
	width: 100%;
	height: 3px;
	background: #0056EC;
}

.menu__item:after {
 	position: absolute;
 	left: 0;
 	display: block;
 	content: '';
 	width: 100%;
 	height: 3px;
 	background: #0056EC; 
 	opacity: 0;
 	transition: opacity .5s;
}

.menu__item:hover:after, .menu__item_active:after {
 	opacity: 1;
}

.main {
	padding: 76px 63% 300px 0;
	background: url(img/main_img_1920.svg) top right no-repeat;
} 

.main__title {
	margin: 0 0 40px 0;
	font: bold 66px/87px pt_serifregular, arial, helvetica, sans-serif;
}

.main__subtitle{
	padding: 0 23% 0 0;
	margin: 0 0 41px 0;
	font: normal 22px/26px robotoregular, arial, helvetica, sans-serif;
}

.main__button{
	display: inline-block;
	font: 500 18px/21px robotoregular, arial, helvetica, sans-serif;
	padding: 18px 20px;
	background: #0056EC;
	color: #fff;
	text-decoration: none;
	border-radius: 4px;
	transition: opacity .5s;
}

.main__title-text_hightlight {
	background: #ECF3FF;
}

.main__button:hover{
	opacity: .5;
}

@media (max-width: 768px){
	.menu{
		display: none;
	}
}